obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.assets.cache
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.dll
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.pdb
obj/Debug/net6.0/ref/TrackmaniaExchangeRandomDownloader.dll
obj/Debug/net6.0/refint/TrackmaniaExchangeRandomDownloader.dll
obj
bin/Debug/net6.0/TrackmaniaExchangeRandomDownloader.dll
bin/Debug/net6.0/TrackmaniaExchangeRandomDownloader.pdb
bin/Release/net6.0/config.json
config.json
obj/Debug/net6.0/ref/TrackmaniaExchangeRandomDownloader.dll
obj/Debug/net6.0/refint/TrackmaniaExchangeRandomDownloader.dll
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.assets.cache
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.dll
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TrackmaniaExchangeRandomDownloader.pdb
config.json
